%div
  %h4
    %a{ :href => "#standup-#{standup.id}", :'data-toggle' => :collapse, :'aria-expanded' => "false", :'aria-controls' => "standup-#{standup.id}" }
      = standup.user.github_user
    .pull-right= Date.parse(standup.date.to_s).to_s
    .clearfix

  %ul.list-group.panel-collapse.collapse.in{ :id => "standup-#{standup.id}" }
    %li.list-group-item
      %span.badge Previous
      =standup.previous.gsub(/\n/, "<br>")
    %li.list-group-item
      %span.badge Next
      = standup.next.gsub(/\n/, "<br>")
    %li.list-group-item
      %span.badge Blockers
      = standup.blockers.gsub(/\n/, "<br>")
